body {
    background-color: #121111;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Teko', sans-serif;
    margin-bottom: .5rem;
}

h1, h2 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    -webkit-text-stroke: 1px black;
    font-weight: 700;
    margin-bottom: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.bordered {
    width: 800px;
    height: 160px;
    padding: 1rem;
}

svg {
    fill: #cd1c1c;
}

svg .cls-1,
svg .cls-2 {
    stroke: #cd1c1c;
    opacity: 1;
}

#custom-cursor {
    position: relative;
    width: 0px;
    height: 0px;
    margin-top: -15px;
    margin-left: -15px;
    transition-duration: 225ms;
    transition-timing-function: ease-out;
}

#custom-cursor:before {
    content: "";
    display: block;
    position: absolute;
    left: 13px;
    top: 12px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #cd1c1c;
    opacity: 1;
}

#custom-cursor:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #cd1c1c;
    opacity: .5;
}