<div class="container vh-100 position-relative">
    <img src="/img/ohyea.png"
         alt="ohyea"
         data-bs-container="body"
         data-bs-toggle="popover"
         data-bs-placement="top"
         data-bs-trigger="hover focus"
         data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
    />
</div>