{{> header/index }}

<main>
    <section class="hero pt-17">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center wow animate__animated animate__bounceInUp" data-wow-delay=".2s">
                        <h2 class="font-special">The Fighting <span>36th</span></h2>
                        <h6 class="font-special">Milsim Gaming Brotherhood</h6>
                        <a href="#" class="btn btn-special">Apply Today</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-section-1 py-12">
        <div class="container">
            <div class="row justify-content-between mb-8">
                <div class="col-md-6">
                    <div class="position-relative">
                        <h2 class="font-special">More than a</h2>

                        <div class="ps-6 mb-5">
                            <h6 class="font-special text-primary"><span class="text-rotated p-2">Brotherhood</span></h6>
                            <h2 class="text-primary font-special">Milsim</h2>

                            <p class="ms-60">
                                We are an 18+ team dedicated to playing the latest Battlefield installment where our mission is to
                                provide military veterans – and other gamers – a welcoming environment to grow, communicate,
                                and push themselves daily to better their skillset through leadership opportunities &amp; skill progression.
                            </p>
                        </div>

                        <a href="#" class="btn btn-special">Learn More</a>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="position-relative z-1">
                        <img src="/img/jeep_gunner.png" width="575" class="d-block" alt="Jeep Gunner">
                        <img src="/img/orange_burst.png" class="burst" width="800" alt="">
                    </div>
                </div>
            </div>

            <h3 class="font-special with-horizontal-divider text-center pb-4 mb-8">
                Why <span class="text-primary">join</span> the 36th?
            </h3>

            <div class="row justify-content-center">
                <div class="col-4">
                    <div class="box">
                        <div class="box-header">
                            <h6>Active</h6>
                            <img src="img/box_header_hover.png" alt="" class="box-header-hover">
                        </div>

                        <div class="box-content">
                            <img src="/img/logo.png" height="90" alt="" class="d-inline-block me-4">

                            <div class="d-inline-block text-start">
                                <h4 class="font-special">
                                    <span class="text-primary pe-1">75+</span>
                                    members
                                </h4>

                                <small class="text-uppercase fw-bold">Active Community</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="box">
                        <div class="box-header">
                            <h6>Family</h6>
                            <img src="img/box_header_hover.png" alt="" class="box-header-hover">
                        </div>

                        <div class="box-content">
                            <div class="d-flex">
                                <img src="/svg/support.svg" alt="" height="90" class="me-4">

                                <div class="text-start">
                                    <h4 class="font-special">
                                        <span class="text-primary">Support</span>
                                        System
                                    </h4>

                                    <small class="text-uppercase fw-bold">We take care of our members and their families when in need</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="box">
                        <div class="box-header">
                            <h6>Fun</h6>
                            <img src="img/box_header_hover.png" alt="" class="box-header-hover">
                        </div>

                        <div class="box-content">
                            <div class="d-flex">
                                <div class="text-start">
                                    <h4 class="font-special">
                                        <span class="text-primary">Scheduled</span>
                                        Events
                                    </h4>

                                    <small class="text-uppercase fw-bold">Regularly scheduled events, providing members with a good time and a chance to win big prizes</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>