<div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="d-flex align-items-center font-secondary text-uppercase fw-bold">
                    <div class="logo d-block d-lg-none">
                        <a href="#"><img src="img/logo/logo.png" alt="Logo"></a>
                    </div>

                    <div class="navbar-wrap d-none d-lg-flex flex-grow-1">
                        <ul class="list-unstyled mb-0 d-flex ml-0 me-auto">
                            <li>
                                <a class="text-decoration-none" href="#">Home</a>

                                <ul class="list-unstyled mb-0">
                                    <li><a class="text-decoration-none" href="#">Home One</a></li>
                                    <li><a class="text-decoration-none" href="#">Home Two</a></li>
                                    <li><a class="text-decoration-none" href="#">Home Three</a></li>
                                    <li><a class="text-decoration-none" href="#">Home Four</a></li>
                                </ul>
                            </li>

                            <li><a class="text-decoration-none" href="#">About</a></li>
                            <li><a class="text-decoration-none" href="#">Overview</a></li>
                            <li><a class="text-decoration-none" href="#">Community</a></li>
                        </ul>

                        <div class="logo">
                            <a href="#"><img src="img/logo.png" alt="Logo"></a>
                        </div>

                        <ul class="list-unstyled mb-0 d-flex ms-auto">
                            <li>
                                <a class="text-decoration-none" href="#">Pages</a>

                                <ul class="list-unstyled mb-0">
                                    <li><a class="text-decoration-none" href="#">Upcoming Games</a></li>
                                    <li><a class="text-decoration-none" href="#">Game Single</a></li>
                                </ul>
                            </li>

                            <li><a class="text-decoration-none" href="#">Store</a></li>

                            <li>
                                <a class="text-decoration-none" href="#">Blog</a>

                                <ul class="list-unstyled mb-0">
                                    <li><a class="text-decoration-none" href="#">News Page</a></li>
                                    <li><a class="text-decoration-none" href="#">News Details</a></li>
                                </ul>
                            </li>

                            <li><a class="text-decoration-none" href="#">contact</a></li>
                        </ul>
                    </div>

                    <ul class="list-unstyled mb-0 d-flex align-items-center">
                        <li class="header-search"><a href="#" data-toggle="modal" data-target="#search-modal"><i class="fas fa-search"></i></a></li>
                    </ul>
                </nav>

                <div class="mobile-menu-wrap d-block d-lg-none">
                    <nav>
                        <div id="mobile-menu" class="navbar-wrap" style="display: block;">
                            <ul>
                                <li><a href="#">Home</a>
                                    <ul class="submenu">
                                        <li><a href="index-2.html">Home One</a></li>
                                        <li><a href="index-3.html">Home Two</a></li>
                                        <li><a href="index-4.html">Home Three</a></li>
                                        <li><a href="index.html">Home Four</a></li>
                                    </ul>
                                </li>
                                <li><a href="about-us.html">About</a></li>
                                <li><a href="game-overview.html">Overview</a></li>
                                <li><a href="community.html">Community</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="submenu">
                                        <li><a href="upcoming-games.html">Upcoming Games</a></li>
                                        <li><a href="game-single.html">Game Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="shop.html">Store</a></li>
                                <li><a href="#">Blog</a>
                                    <ul class="submenu">
                                        <li><a href="blog.html">News Page</a></li>
                                        <li><a href="blog-details.html">News Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="mobile-menu"></div>
            </div>

            <!-- Modal Search -->
            <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form>
                            <input type="text" placeholder="Search here...">
                            <button><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>