.btn-secondary {
  display: block;
  background: #23262d;
  text-transform: uppercase;
  color: #cfcdcd;
  font-weight: 700;
  font-size: 11px;
  font-family: 'Oxanium', cursive;
  padding: 2px 23px 2px 7px;
  border-top: 2px solid #2a2b37;
  border-bottom: 2px solid #2a2b37;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, .35) 0 3px 7px 0;

  &:hover {
    background-color: #23262d;
    color: $primary;
    border-color: #2a2b37;
  }
}

.btn-special,
.btn-special::before,
.btn-special::after {
  transition: all .3s ease;
}

.btn-special {
  position: relative;
  border: 0;
  border-radius: 0;
  background: $primary;
  color: $white;
  padding: 1rem 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;
  font-weight: 600;

  &:before,
  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 0;
    width: 0;
    height: 0;
    top: 0;
    border-top: 3.5rem solid $primary;
  }

  &:before {
    left: -1rem;
    border-left: 1rem solid transparent;
  }

  &:after {
    right: -1rem;
    border-right: 1rem solid transparent;
  }

  &:hover {
    background-color: #2a2a32;

    &:before,
    &:after {
      border-top-color: #2a2a32;
    }
  }
}