#site-header {
  z-index: 1;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 135px;
    left: 0;
    top: 0;
    background-image: url('/img/header_bg.jpg');
    z-index: -1;
  }

  &:after {
    content: '';
    background-image: url('/img/header_bottom_bg.png');
    position: absolute;
    left: 0;
    right: 0;
    bottom: -11px;
    width: 1499px;
    height: 28px;
    margin: 0 auto;
    z-index: -1;
  }

  /**
   * Header Top Bar
   */
  .header-top {
    border-bottom: 1px solid rgba(50, 49, 49, .7);

    .header-top-left {
      ul {
        li {
          &:first-child {
            font-size: .75rem;
            letter-spacing: .09rem;
          }
        }

        a {
          background-image: url('../img/header_social_bg.jpg');
          display: block;
          width: 38px;
          height: 32px;
          line-height: 32px;
          text-align: center;
          border-radius: 4px;
          box-shadow: rgba(0, 0, 0, .35) 0 3px 7px 0;
          color: $primary;
          font-size: 12px;
        }
      }
    }

    .header-top-right {
      ul {
        li {
          display: inline-block;

          &.or {
            font-size: .75rem;
          }
        }

        i {
          width: 29px;
          height: 25px;
          box-shadow: 0 3px 7px 0 rgba(12, 18, 40, .20), inset 0 3px 7px 0 rgba(56, 17, 33, .40);
          text-align: center;
          line-height: 25px;
          background: #1d1e29;
          margin-right: 15px;
          color: $primary;
        }
      }
    }
  }

  /**
   * Header Main Nav
   */
  nav {
    .navbar-wrap {
      > ul {
        li {
          margin-right: 2.25rem;
          position: relative;

          /**
           * Submenu
           */
          > ul {
            position: absolute;
            left: -.5rem;
            opacity: 0;
            padding: .8rem 0;
            right: 0;
            top: 100%;
            visibility: hidden;
            min-width: 230px;
            box-shadow: 0 30px 70px 0 rgba(137, 139, 142, .15);
            border-radius: 2px;
            transform: scale(1,0);
            transform-origin: 0 0;
            transition: all 0.3s ease-in-out;
            border: 1px solid #ee551945;
            background: #1c1f26;

            li {
              a {
                font-size: 14px;
                display: block;
                position: relative;
                font-family: $font-family-secondary;
                padding: 0 10px 0 25px;
                line-height: 40px;
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
                transition: all .3s ease-in-out;

                &:hover {
                  color: $primary;
                }
              }
            }
          }

          &:hover {
            > ul {
              opacity: 1;
              visibility: visible;
              transform: scale(1);
            }
          }
        }
      }
    }

    a {
      color: $body-color;
      transition: color .35s ease;
      display: inline-block;
      padding: 2rem 0;
      font-size: .9rem;

      &:hover {
        color: $primary;
      }
    }

    .logo {
      position: absolute;
      left: 50%;
      top: 20px;
      transform: translateX(-50%);

      a {
        padding: 0;
      }
    }
  }

  /**
   * Header Search
   */
  .header-search {
    a {
      width: 56px;
      height: 48px;
      display: block;
      text-align: center;
      line-height: 48px;
      background: #262831;
      color: $primary;
      border-radius: 5px;
      font-size: 13px;
      box-shadow: 0 3px 7px 0 rgba(128, 18, 40, .20), inset 0 3px 7px 0 rgba(56, 17, 33, .40);
      padding: 0;
    }
  }
}