// colors
$primary: #cd1c1c;
$body-color: #d4d4d4;

// fonts
$font-family-base: 'Poppins', sans-serif;
$font-family-secondary: 'Oxanium', cursive;

// font sizes
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;
$h4-font-size: 1.35rem;

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$spacers: map-merge((
        6: $spacer * 4,
        7: $spacer * 5,
        8: $spacer * 6,
        9: $spacer * 7,
        10: $spacer * 8,
        11: $spacer * 9,
        12: $spacer * 10,
        13: $spacer * 11,
        14: $spacer * 12,
        15: $spacer * 13,
        16: $spacer * 14,
        17: $spacer * 15
), $spacers);